{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block body %}

<div>
    <!-- Page Header -->
    <header class="masthead">
    </header>

    <!-- Main Content -->


    <!-- Page Content -->
    <div class="container">

        <div class="row">


            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                {{ form_start(formETweet) }}
                {{ form_row(formETweet.content,{'attr' : {'placeholder' :"Write your eTweet...", 'class':"width100 form-control"}}) }}
                {{ form_row(formETweet.submit,{'attr' : {'placeholder' :"Envoyez",'class':"btn-placement btn btn-primary"}}) }}
                {{ form_end(formETweet) }}
                </div>


                <!-- Blog Post -->
                {% for eTweet in eTweets %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="eTweetDisplay">
                                <img src="/uploads{{ asset(eTweet.team.avatarFileName)}}" alt="" class="profPicHomepage">
                                <h2 class="card-title ml-20px"><a href="{{ path('profile_team', {'teamId': eTweet.team.id}) }}">{{ eTweet.team.name }}</a></h2>
                            </div>
                            <hr>
                            <p class="card-text">{{ eTweet.content }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <span>Posted on {{ eTweet.dating|date('d/m/Y-H:i') }}</span>
                            <span><a href="{{ path('voteHome', {'idMessage': eTweet.id, 'value': -1}) }}" class="btn btn-danger downVote float-right" ></a></span>
                            <span class="float-right mr-10px">{{ eTweet.totalVote }}</span>
                            <span><a class="btn btn-success upVote float-right mr-10px" href="{{ path('voteHome', {'idMessage': eTweet.id, 'value': 1}) }}"></a></span>
                            <span><button class="btn btn-outline-primary btn float-right mr-10px">RT</span>

                        </div>

                    </div>
                {% endfor %}
                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-2">



            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>


</div>
{% endblock %}
