{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}

{% block body %}

<div>
    <!-- Page Header -->
    <header class="masthead">
    </header>

    <!-- Main Content -->


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <div class="card my-4">
                    <div class="eTweetDisplay">
                        <img src="/uploads{{ asset(app.user.avatarFileName)}}" alt="" class="profPicHomepage">
                        <h5 class="card-header">{{ app.user.name }}</h5>
                    </div>

                </div>
            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <div class="card-body">
                {{ form_start(formETweet) }}
                {{ form_row(formETweet.content,{'attr' : {'placeholder' :"Write your eTweet...", 'class':"width100 form-control"}}) }}
                {{ form_row(formETweet.submit,{'attr' : {'placeholder' :"Envoyez",'class':"btn-placement btn btn-primary"}}) }}
                {{ form_end(formETweet) }}
                </div>


                <!-- Blog Post -->
                {% for eTweet in eTweets %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="eTweetDisplay">
                                <img src="/uploads{{ asset(eTweet.team.avatarFileName)}}" alt="" class="profPicHomepage">
                                <h2 class="card-title ml-20px"><a href="{{ path('profile_team', {'teamId': eTweet.team.id}) }}">{{ eTweet.team.name }}</a></h2>
                            </div>
                            <hr>
                            <p class="card-text">{{ eTweet.content }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <span>Posted on {{ eTweet.dating|date('d/m/Y-H:i') }}</span>
                            <span><a href="{{ path('vote', {'idMessage': eTweet.id, 'value': -1, 'route': 0}) }}" class="btn btn-danger downVote float-right" ></a></span>
                            <span class="float-right mr-10px">{{ eTweet.totalVote }}</span>
                            <span><a class="btn btn-success upVote float-right mr-10px" href="{{ path('vote', {'idMessage': eTweet.id, 'value': 1, 'route': 0}) }}"></a></span>
                            <span><button class="btn btn-outline-primary btn float-right mr-10px">RT</button></span>
                        </div>
                    </div>
                {% endfor %}
            </div>



        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">ETwitSport &copy; 2018</p>
        </div>
        <!-- /.container -->
    </footer>


</div>
{% endblock %}
