{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <h1 class="col-md-10">{{ team.name }}</h1>

        <!-- Side Widget -->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>
        </div>

        <div class="col-md-8">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
            {% for eTweet in eTweets %}
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="eTweetDisplay">
                            <img src="/uploads{{ asset(eTweet.team.avatarFileName)}}" alt="" class="profPicHomepage">
                            <h2 class="card-title ml-20px"><a href="{{ path('profile_team', {'teamId': eTweet.team.id}) }}">{{ eTweet.team.name }}</a></h2>
                        </div>
                        <hr>
                        <p class="card-text">{{ eTweet.content }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Posted on {{ eTweet.dating|date('d/m/Y-H:i') }}</span>
                        <span><a href="{{ path('voteProf', {'idMessage': eTweet.id, 'value': -1}) }}" class="btn btn-danger downVote float-right" ></a></span>
                        <span class="float-right mr-10px">{{ eTweet.totalVote }}</span>
                        <span><a class="btn btn-success upVote float-right mr-10px" href="{{ path('voteProf', {'idMessage': eTweet.id, 'value': 1}) }}"></a></span>
                        <span><button class="btn btn-outline-primary btn float-right mr-10px">RT</span>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
